@import "../../../variables.scss";

.tripHeading {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $color-label-bg-gray;
  border-bottom: 1px solid #e5e5e5;

  .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    h3 {
      font-size: 24px;
      font-weight: 800;
      letter-spacing: -1.8px;

      color: $color-text-price;
    }
    span {
      font-size: 10px;
      color: $color-label-text-gray;
    }
  }

  button {
    display: block;
    width: 160px;
    padding: 12px 25px 12px 15px;

    background-color: #e85e12;
    border: 0;
    border-radius: 2px;

    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    color: #fff;

    position: relative;

    span:last-child {
      position: absolute;
      right: 12px;
      font-weight: 700;
    }
  }
}
