@import "../../variables.scss";

.tripsWrapper {
  width: 100%;
}

.resultsWrapper {
  width: 100%;
  padding: 24px 16px;

  font-family: Arial;

  margin-bottom: 14px;

  .resultsText {
    margin-bottom: 14px;
  }

  .resultsContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
  }
}

.ctaWrapper {
  height: 150px;
  padding: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 32px;
    font-weight: 700;
  }
}
